<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Lounge Chat</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/chat.css"/>
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script type="text/javascript" src="static/js/chat.js"></script>
</head>
<body>
	<div class="page-header">
		<h1>Nick's Chat (beta)</h1>
			
	</div>
	<div class="container">
		<div id="topSpace" class="row">
			<form action="/logout" method="POST">
				<input type="submit" value="LogOut" class="pull-right" />
			</form>	
		</div>
		<div class="row">
			<div id="chatDiv" class="col-sm-8">
				<div id="chatScreen">
					<ul id="messages"></ul>
				</div>
				<form action="" id="chatButton">
					<input id="m" autocomplete="off" /><button>Send</button>
				</form>
			</div>
			<div id="rightMenu" class="col-sm-4">
				
			</div>
			<div id="bottomFill" class="col-sm-12"></div>
		</div>
		<br/>
		
	</div>
</body>
</html>