<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Lounge Chat</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="static/css/chat.css"/>
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="vendor/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script type="text/javascript" src="static/js/chat.js"></script>
</head>
<body>
	<div class="container">
	<div class="page-header">
		<h1>Twitter Lounge <small>version 0.8a</small></h1>			
	</div>	
		<div id="topSpace" class="row">
			<div class="col-xs-2">
				<div id="birdWraper">
					<img src="http://i1154.photobucket.com/albums/p538/jessicam319/4610734737_zps8f16de50.gif" id="birdPic" class="col-xs-12 pull-left">
				</div>
			</div>
			<div class="col-xs-6" id="twitterScreen"><ul id="tweetPlaceholder"></ul></div>
			<div class="col-xs-4">
				<button type="button" data-toggle="modal" data-target="#profileModal" style="display: inline" class="pull-right nav btn btn-default">
				  Profile
				</button>
				<form action="/logout" method="POST">
					<input id="logoutButton" type="submit" value="Logout" class="pull-right nav btn btn-default" />
				</form>	
				<h3>Active Users</h3>
			</div>
		</div>
		<div class="row">
			<div id="chatDiv" class="col-xs-8">
				<div id="chatScreen">
					<ul id="messages"></ul>
				</div>
				<form action="" id="chatButton">
					<input id="messageInput" autocomplete="off" /><button id="sendButton" class="btn btn-default">Send</button>
				</form>
			</div>
			<div id="rightMenu" class="col-xs-4">				
				<ul id="usernamesPlaceholder"></ul>
			</div>
			<div id="bottomFill" class="col-xs-12"></div>
		</div>
	</div>

<!-- Profile Modal -->
	<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Twitter Lounge Profile</h4>
	      </div>
	      <div class="modal-footer">
	      	<form>
		  		<input name="username" id="username" placeholder="username"  />
		  		<input name="imgURL" id="imgURL" placeholder="Image URL" />
		        <input id="updateButton" onclick="updateProfile()" class="btn btn-primary" value="Update"/>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
<!--Underscore Template-->	
	<script type="text/template" id="userListTemplate">
		<li id="<%=_id%>"> <%=email%> </li>
	</script>
</body>
</html>