<!DOCTYPE html>
<html>
<head>
	<title>Twitter Lounge Lobby</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Twitter Lounge Lobby <small>pick a room, or create a shiny new one</small></h1>
		</div>
		<ul id="activeRoomList"></ul>
		<form>
			<div class="form-group">
				<label for="newRoomName">Room Name</label>
				<input type="text" id="newRoomName" class="form-control" placeholer="Your Room Name Here"/>
			</div>
			<div class="form-group">
				<label for="newKeyWords">Key Words</label>
				<input type="text" id="newKeyWords" class="form-control" placeholder="Twitter Key Words (please separate with spaces"/>
			</div>
		</form>
	</div>
</body>
</html>