body{
	background: linear-gradient(#BAD7F7, #BAD7B1);
	/*background-color: #BAD7F7;*/
}
h1{
	padding-left: 60px;
}
.page-header{
	padding: 5px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0;
}
#topSpace{
	margin-top: 0;
	height: 170px;
	background-color: #A1D490;
	padding: 5px;
	border-radius: 4px;
}
#twitterScreen{
	height: 160px;
	background-color: #fff;
	overflow: auto;
	border-radius: 4px;
}
#chatDiv{
	/*height: 80%;*/
/*	 width: 70%; */
	 /*margin: 10px; */
	 padding-top: 5px; 
	 padding-right: 5px;
	 padding-bottom: 5px;
	 padding-left: 0;
	 margin-left: 0;
	 font: 13px Helvetica, Arial;
}
#chatDiv form{
	background: #000;
	padding: 1px;
	border-radius: 4px;
}
#chatDiv form input{
	padding: 12px;
	width: 90%; 
}
#chatDiv form button{
	width: 10%; 
	background: #9ac3a3; 
	border-left: solid 1px black; 
	padding: 10px
}
#chatScreen{
	height: 352px; 
	width: 100%;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #fff; 
	overflow: auto;
}
#messages{
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}
#messages li{
	padding: 5px 10px; 
}
#messages li:nth-child(odd){
	background: #efe;
}
#messages li:first-child{
	font-size: 18px;
	padding-top: 15px; 
	padding-left: 10px; 
	color: green;
}
#rightMenu{
	margin: 0;
	height: 408px;
	background-color: #A1D490;
}
#bottomFill{
	background-color: #A1D490;
	height: 40px;
	margin: 0;
	border-radius: 4px;
}
#sendButton{
	vertical-align: top;
	border-radius: 2px;
	padding: 1px;
}
h3{
	text-align: center;
	margin-top: 100px;
	background-color: rgba(191, 180, 180, 0.3);
	border-radius: 4px;
}
img{
	display: inline-block;
}
.nav{
	padding: 3px;
	margin: 3px;
}
#birdPic{
	padding-top: 20%;
	margin: auto;
}
#birdWraper{
	margin: auto;
}



